body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Inria Serif", serif;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("img/background.jpg");
    background-position: center center; /* Center the image */
    background-size: cover; /* Ensure the image covers the entire viewport */
    z-index: -1;
}

header {
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 32px;
    margin: 0px;
    padding: 20px;
}

.countdown {
    font-size: 24px;
    margin: 20px 0;
    height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 800px) {
    #timer span {
        display: inline-block;
        width: 15vw;
        font-size: 5vw;
        padding: 4px;
    }

    #timer-titles span {
        display: inline-block;
        width: 15vw;
        font-size: 2vw;
        padding: 4px;
    }

    body::before {
        background-attachment: scroll; /* Fallback for mobile browsers */
    }
}

@media (min-width: 600px) {
    #timer span {
        display: inline-block;
        width: 10vw;
        font-size: 4vw;
        padding: 10px;
    }

    #timer-titles span {
        display: inline-block;
        width: 10vw;
        font-size: 2vw;
        padding: 10px;
    }
}

.location,
.date {
    background: rgba(255, 255, 255, 0.01); /* Light transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(20px); /* For Safari support */
}

.center-img {
    height: 400px !important;
}

.gallery {
    position: relative; /* Establish stacking context */
    z-index: 0; /* Ensure it doesn't overlap other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px 0; /* Add spacing above and below the gallery */
}

.gallery img {
    width: auto;
    height: 300px;
    margin: 20px;
}

.white-line {
    border: none;
    height: 1px;
    background-color: white;
    width: 90%; /* Adjust width as needed */
    margin: 0px auto; /* Center the line */
}

@media (max-width: 600px) {
    .heading-subsection {
        display: none;
    }

    .gallery {
        display: flex;
        flex-direction: column; /* Stack images vertically */
        align-items: center;
        position: relative;
    }

    .gallery img {
        width: auto;
        height: 250px; /* Smaller height for non-center images */
        margin: -80px 0; /* Overlap images slightly */
        z-index: 2;
    }

    .gallery img.center-img {
        height: 300px; /* Keep the center image larger */
        z-index: 1; /* Ensure the center image is on top */
        margin: 20px 0; /* Add spacing for the center image */
    }

    .grid {
        flex-direction: column; /* Stack divs vertically */
        align-items: center; /* Center the content */
    }
}

@media (min-width: 600px) {
    .heading-subsection {
        font-size: 20px;
    }
}

.heading-container {
    display: flex;
    justify-content: space-between; /* Spreads elements evenly */
    width: 100%; /* Ensure it takes full width */
    text-align: center;
    align-items: center;
}

.heading-center {
    flex-grow: 1; /* Allows the center span to take up remaining space */
    text-align: center;
    font-size: 4vw;
}

.map {
    width: auto;
    height: 350px;
    padding: 20px;
}

.grid {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

.info div {
    margin-inline: 20px;
}

.flex {
    display: flex;
}

.rsvp-button {
    background-color: rgba(255, 255, 255, 0.2); /* White with 20% transparency */
    border: 2px solid white; /* White border */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px; /* Match the paragraph font size */
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 12px; /* Rounded edges */
    margin: 40px;
}
