/* 
 * Right, you read the HTML so you get the idea.
 * You do not need to read this CSS file.
 * 
 * Leave now and just be happy that it works. 
 */

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Inria Serif", serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("img/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 5px 50px 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
    margin: 14px;
    margin-top: 20px;
}

p {
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.countdown {
    font-size: 24px;
    margin: 20px 0;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #timer span {
        display: inline-block;
        width: 15vw;
        font-size: 5vw;
        padding: 4px;
    }

    #timer-titles span {
        display: inline-block;
        width: 15vw;
        font-size: 2vw;
        padding: 4px;
    }
}

@media (min-width: 600px) {
    #timer span {
        display: inline-block;
        width: 10vw;
        font-size: 4vw;
        padding: 10px;
    }

    #timer-titles span {
        display: inline-block;
        width: 10vw;
        font-size: 2vw;
        padding: 10px;
    }
}

.location,
.date {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
}

.center-img {
    height: 400px !important;
}

.gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px 0;
}

.gallery img {
    width: auto;
    height: 300px;
    margin: 20px;
}

.white-line {
    border: none;
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .heading-subsection {
        display: none;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        height: 250px;
        margin: -80px 0;
        z-index: 2;
    }

    .gallery img.center-img {
        height: 300px;
        z-index: 1;
        margin: 20px 0;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 600px) {
    .heading-subsection {
        font-size: 20px;
    }
}

.heading-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
}

.heading-center {
    flex-grow: 1;
    text-align: center;
    font-size: 4vw;
}

.map {
    width: auto;
    height: 350px;
    padding: 20px;
}

.grid {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

.info div {
    margin-inline: 10px;
}

.flex {
    display: flex;
}

.information {
    justify-content: center;
    display: flex;
}

.information div {
    max-width: 1000px;
}

.m-20 {
    margin: 20px;
}

.m-40 {
    margin: 40px;
}

.rsvp-button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 12px;
    margin: 40px;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
}

.timeline-time {
    font-style: italic;
    margin-left: 0;
    font-size: 28px;
    color: #ccc;
}

.timeline-event {
    padding-left: 50px;
    font-size: 24px;
}

.date-text {
    font-size: 30px;
    margin: 20px 0;
}